<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Editor - Massa VZ</title>
</head>
<body>
	<header>
		<h1>Editor de Massas - VZ</h1>
	</header>

	<main>
		<section>
			<h2>Massa Padrão</h2>
			<textarea name="Massa-Default" id="Massa-Default" cols="60" rows="12">----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</textarea>
		</section>

		<section>
			<h2>campos para alteração</h2>
			<form action="">
				<label for="chpras">chpras</label>
				<input type="text" value="00738651124">
				<label for="data_transacao">data transacao</label>
				<input type="text" value="2022-10-07">
				<label for="hora_transacao">hora transacao</label>
				<input type="text" value="12:32:41">
				<label for="dn">dn</label>
				<input type="text" value="01285">
				<label for="indicador_cv">indicador cv</label>
				<input type="text" value="N">
				<label for="cf">cf</label>
				<input type="text" value="02">
				<label for="numero_documento">numero documento</label>
				<input type="text" value="00004403589281">
				<label for="indicador_titular">indicador titular</label>
				<input type="text" value="0">
				<label for="nome_estabelecimento">nome estabelecimento</label>
				<input type="text" value="POSTO SAO SEBASTIAO">
				<label for="tipo_pessoa">tipo pessoa</label>
				<input type="text" value="F">
				<label for="valor_moeda_transacao">valor moeda transacao</label>
				<input type="text" value="000000000727272">
				<label for="hash_cartao">hash cartao</label>
				<input type="text" value="F28BE31DBAE83DB283B">
				<button>atualizar</button>
			</form>
		</section>

		<section>
			<h2>Massa Atualizada</h2>
			<textarea name="Massa-Atualizada" id="Massa-Atualizada" cols="60" rows="12"></textarea>
		</section>
	</main>
	<footer>
		<h2>final da pagina</h2>
	</footer>


</body>
</html>