<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Editor - Massa VZ</title>
</head>
<body>
	<header>
		<h1>{{ titulo }}</h1>
	</header>

	<main>
		<section id="Massa-Padrao">
			<h2>Massa Padrão</h2>
			<textarea name="Massa-Default" id="Massa-Default" cols="60" rows="12">{{ massa_default }}</textarea>
		</section>

		<section id="Form">
			<h2>campos para alteração</h2>
			<form action="/atualizar" method="post">
				{% for campo in lista_campos %}
					<label for={{ campo.id }}>
						{{ campo.label }}
					</label>
					<input type="text" id={{ campo.id }} name={{ campo.id }} value={{ campo.value }}>
				{% endfor %}
				<button>atualizar</button>
			</form>
		</section>

		<section id="Massa-Nova">
			<h2>Massa Atualizada</h2>
			<textarea name="Massa-Atualizada" id="Massa-Atualizada" cols="60" rows="12">{{ massa_default }}</textarea>
		</section>
	</main>
	<footer>
		<h2>final da pagina</h2>
	</footer>


</body>
</html>